{% extends 'base.html.twig' %}

{% block title %}Hello UserAddressAddController!{% endblock %}

{% block body %}
    <section class="add-address">
        <h1 class="">Ajout d'une adresse</h1>
        <div class="after-title"></div>
        <div class="container my-5">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
