{% extends 'base.html.twig' %}

{% block title %}Hello AddServiceController!{% endblock %}

{% block body %}
    <section class="add-service">
        <div class="container">
            <h1>Formulaire d'ajout de service</h1>
            <div class="after-title"></div>
            <div class="my-5">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
