{% extends 'base.html.twig' %}

{% block title %}Hello AddServiceController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-5 text-center">Formulaire d'ajout de service</h1>
    <div class="mt-5">
        {{ form(form) }}
    </div>


</div>
{% endblock %}
