.blocInfoPerso, .blocListeHabitation{
    border: 1px solid black;
    margin: 20px 0 20px 0 ;
    padding: 10px 50px 10px 50px;
    box-shadow: 10px 5px 5px darkgray;
    background-color: honeydew;
}

.blochabitat{
    margin: 20px 0 20px 0 ;
}

.button{
    display: flex;
    justify-content: center;
}

.OuiNonDelete{
    display: flex;
    justify-content: space-evenly;
}

.paginationAddress{
    text-align: center;
}

.tableAddress, .tableServices {
    border: 1px solid black;
    padding: 5px;
}

.tableAddress{
    background-color: beige;
}

.tableServices{
    background-color: cornsilk ;
}

.blocServices{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px ) {
    .blocProfile{
        display: flex;
    }
    .blocInfoPerso{
        height: 500px;
    }
}