

<footer>
    <div class="FooterList">
        <a class="nav-link {% if app.request.pathInfo == '/contact'  %} active {% endif %}" href="{{ path('app_contact') }}">Formulaire de Contact</a>
        {% if is_granted("ROLE_USER") %}
            <a class="nav-link {% if app.request.pathInfo == '/goldenbook'  %} active {% endif %}" href="{{ path('app_goldenbook') }}">Livre d'Or</a>
        {% endif %}
    </div>
    <hr class="my-2">
    <p>&copy; 2024 Mon site web. Tous droits réservés.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
