{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="update-address">
        <h1>Modification des informations de l'adresse</h1>
        <div class="after-title"></div>
        <div class="container my-5">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
