{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Modification des informations de l'adresse</h1>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
