{% extends 'base.html.twig' %}

{% block title %}Hello ServiceManagementController!{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Gestion des services</h1>
    <div class="mt-5 container">
        {% for useraddress in address %}
            <div class=" mt-5">
                <div class="row">
                    <div class="col-4 tableAddress">{{ useraddress.Address }}</div>
                    <div class="col-4 tableAddress">{{ useraddress.postalCode }} {{ useraddress.City }}</div>
                    <div class="col-4 tableAddress">
                        Location :
                        {% if useraddress.rental==1 %}
                            oui
                        {% elseif useraddress.rental==0 or useraddress.rental== NULL %}
                            non
                        {% endif %}
                    </div>
                </div>

                    <div class="row mt-1 blocServices">
                        <div class="col-3 tableServices"><strong>Service : </strong></div>
                        <div class="col-4 tableServices"><strong>Lien : </strong></div>
                        <div class="col-2 tableServices"><strong>Prix : </strong></div>
                        <div class="col-2 tableServices text-center"><a href="#">Modification</a> / <a href="#">Suppression</a></div>
                    </div>
            </div>
        {% endfor %}
        <div class="mt-5"><a href="#" class="btn btn-secondary">Ajouter un service</a></div>
    </div>

{% endblock %}
