{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Formulaire de contact</h1>
    <div class="container">
        {{ form(form)}}
    </div>
{% endblock %}
