{% extends 'base.html.twig' %}

{% block title %}Hello UserUpdateController!{% endblock %}

{% block body %}
    <section class="update-user">
        <h1>Modification des informations personnelles</h1>
        <div class="after-title"></div>
        <div class="container my-5">
            {{ form(form)}}
        </div>
    </section>
{% endblock %}
