{% extends 'base.html.twig' %}
{% block title %}Page 404{% endblock %}

{% block body %}
    <section class="home">
        <div class="container">
            <h1 class="">Page404 perso</h1>
            <div class="after-title"></div>

            <div class="row">
                <div class="my-5 d-flex justify-content-center">
                    Désolé, la page que vous recherchez n'existe pas.
                </div>
                <div class="button">
                    <a href="{{ path('app_home')}}" class="btn btn-outline-dark">Page d'accueil</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
